*~

src/*/
opt/*

data/cw
data/cdd-*
data/notyet-cdd-*
data/*.tab
[0-9]*-data-in
[0-9]*-data-out
[0-9]*-data-out-s*
[0-9]*-jobs

[0-9]*-done

# qsub-many tmp files
s-[0-9][0-9][0-9][0-9]
s-[0-9][0-9][0-9][0-9].e*
s-[0-9][0-9][0-9][0-9].o*
