*~
.*.sw[op]
.nfs*

/src/*/
/opt/*

/data/cw
/data/cdd-*
/data/uniprot-*
/data/*.tab
/trial*

/[0-9]*-done

# qsub-many tmp files
/s-[0-9][0-9][0-9][0-9]
/s-[0-9][0-9][0-9][0-9].e*
/s-[0-9][0-9][0-9][0-9].o*
