#!/bin/bash

# UNNAMED is a classifier of outlier sequences in multiple alignments
# Copyright (C) 2011  Aleksandr Levchuk
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.


set -e
set -u

cd %%WD%%

source ./api/pipeline.sh



DATA_IN_DIR=%%DATA_IN%%

DATA_IN_FASTA_FILE=%%FASTA_FILE%%

DATA_OUT=%%DATA_OUT%%



export PATH=%%MAFFT_PATH%%:$PATH

GUIDANCE_EXEC=%%GUIDANCE_EXEC%%


mkdir -p "$DATA_OUT"{,-new} 2> /dev/null && true

function callback {
  if [ -n $DATA_OUT ]; then # variable must be non empty
    rm -rf "$DATA_OUT-new"
  fi
  mkdir -p "$DATA_OUT-new"

  $GUIDANCE_EXEC --msaProgram MAFFT --seqType aa \
    --seqFile $DATA_IN_FASTA_FILE --outDir $DATA_OUT-new &> \
    $DATA_OUT-new/stdouterr.log

  # Error out if the score file was not created
  ls $DATA_OUT-new/MSA.MAFFT.Guidance_msa.scr > /dev/null

  rm -rf "$DATA_OUT"
  mv $DATA_OUT{-new,}

  # Report score
  ls $DATA_OUT/MSA.MAFFT.Guidance_msa.scr
}
upstream_done_time_prefix="$DATA_IN_DIR"
done_time_prefix="$DATA_OUT"
pipeline $upstream_done_time_prefix $done_time_prefix \
  "Running GUIDANCE on $upstream_done_time_prefix \
   Output: $done_time_prefix" \
  callback
