#!/bin/bash

# UNNAMED is a classifier of outlier sequences in multiple alignments
# Copyright (C) 2011  Aleksandr Levchuk
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.


set -e
set -u

cd %%WD%%

source ./api/pipeline.sh




DATA_IN_DIR=%%DATA_IN%%

DATA_IN_FASTA_FILE=%%FASTA_FILE%%

RAM_DIR=%%RAM_DIR%%
DATA_OUT_FINAL=%%DATA_OUT%%



export PATH=%%MAFFT_PATH%%:$PATH

GUIDANCE_EXEC=%%GUIDANCE_EXEC%%


mkdir -p "$RAM_DIR" 2> /dev/null && true
mkdir -p "$DATA_OUT_FINAL"{,-new} 2> /dev/null && true

function callback {
  if [ -n $RAM_DIR ]; then # variable must be non empty
    rm -rf "$RAM_DIR"
  fi
  mkdir -p "$RAM_DIR"

  $GUIDANCE_EXEC --msaProgram MAFFT --seqType aa \
    --seqFile $DATA_IN_FASTA_FILE --outDir $RAM_DIR &> \
    $RAM_DIR/stdouterr.log

  # Error out if the score file was not created
  ls $RAM_DIR/MSA.MAFFT.Guidance_msa.scr > /dev/null

  # Report score
  ls $RAM_DIR/MSA.MAFFT.Guidance_msa.scr

  # Move back to permanent storage
  rm -rf "$DATA_OUT_FINAL-new"
  mv "$RAM_DIR/" "$DATA_OUT_FINAL-new/"

  # Mark as finalized on permanent storage
  rm -rf "$DATA_OUT_FINAL"
  mv "$DATA_OUT_FINAL"{-new,}

  # Clean up
  rm -rf $RAM_DIR 
}
upstream_done_time_prefix="$DATA_IN_DIR"
done_time_prefix="$DATA_OUT_FINAL"
pipeline $upstream_done_time_prefix $done_time_prefix \
  "Running GUIDANCE on $upstream_done_time_prefix \
   Output: $done_time_prefix" \
  callback
