#!/bin/bash

set -e
set -u

working_d=%%WD%%

DATA_OUT=%%DATA_OUT%%


msa_fasta=%%MSA_FASTA%%

canonical_name=%%CANONICAL_NAME%%



NORMD="./opt/norMD1_3/normd"
SCORING_MATRIX="./opt/norMD1_3/gon250.bla"
NORMD_OPTS="$SCORING_MATRIX 0 0 0 -v"

cd $working_d

out_normd_file=$DATA_OUT/$canonical_name-whole-msa-normd-scr
out_normd_mod_file=$DATA_OUT/$canonical_name-whole-msa-normd-mod-scr

# Run NorMD 
set +e
score_raw=$($NORMD $msa_fasta $NORMD_OPTS)
set -e

(echo "$score_raw" | grep "ERROR") && (
  echo "$score_raw" >&2
  exit 1 )

normd=$(echo "$score_raw" | egrep "^norMD" | awk '{print $2}')
lqrid=$(echo "$score_raw" | egrep "^LQR" | awk '{print $2}')
md=$(echo "$score_raw" | egrep "^MD" | awk '{print $2}')
maxmd=$(echo "$score_raw" | egrep "^maxMD" | awk '{print $2}')
# By the way: NORMD = MD / (MaxMD * LQRID)

normd_mod=$(ruby -e "puts $md / $maxmd")

echo -e "$normd" > $out_normd_file
sort -k2 $out_normd_file > $out_normd_file-srt
mv $out_normd_file-srt $out_normd_file        


echo -e "$normd_mod" > $out_normd_mod_file
sort -k2 $out_normd_mod_file > $out_normd_mod_file-srt
mv $out_normd_mod_file-srt $out_normd_mod_file        
